.showMenu {
  position: fixed;
  top: 10vh;
  right: 0;
  height: 90vh;
  width: 40vw;
  display: flex;
  gap: 30px;
  flex-direction: column;
  background-color:black;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-content: center;
  transition: all 0.9s ease;
  font-size: 25px;
}
